pyrofork
tgcrypto
pymongo
motor
marshmallow
umongo
requests
bs4
datetime
aiohttp
aiofiles 
dnspython
youtube-search-python
youtube-search
yt-dlp
cinemagoer
opencv-python-headless
googletrans
telegraph
python-dotenv
gTTS
Pillow
psutil
NumPy
wheel
ujson
wget
pytz
pip
