# 🔧 Core Libraries
pyrofork
tgcrypto==1.2.5
python-dotenv==1.1.1
requests==2.32.4
ujson==5.10.0
wheel
wget
pytz==2025.1

# 🗃️ Database & ORM
pymongo[srv]==3.12.3
motor==2.5.1
marshmallow==3.14.1
umongo==3.0.1
dnspython

# 🌐 Web & API
Flask==2.2.2
gunicorn==20.1.0
aiohttp
aiofiles
telegraph

# 🎥 Movie & Media Data
imdbpy==2022.7.9
cinemagoer
youtube-search
youtube-search-python
yt-dlp

# 🧠 AI, Math & Translation
pynewtonmath
googletrans
gTTS

# 🖼️ Image, Audio & System Utilities
opencv-python-headless
Pillow
psutil

# 🌿 Scraping & Parsing
beautifulsoup4
